/* Top level */

:root {
  --main-bg-color: #F5F7F5;
  --light-accent-color: #7787A6;
  --main-brand-color: #4C6CA8;
  --dark-accent-color: #AD4159;
  --secondary-bg-color: #1C2139;
  --secondary-bg-rgb-color: 29, 34, 58;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav { 
  position: sticky;
  top: 0;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  font-size: 18px;
  background-color: rgba(var(--secondary-bg-rgb-color), 0.0);
  border: none;
  padding-bottom: 10px;
  min-height: 50px;
  transition: background-color 1s; 
  z-index: 99;
}

.scrolled {
  background-color: rgba(var(--secondary-bg-rgb-color), 1.0);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border: none;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 50px;
  margin-left: 15px;
  padding-top: 5px;
}
.nav-links {
  text-decoration: none;
  color: var(--main-bg-color);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

#navbar li ul {
  transition: height 1s ease;
} 

#services-nav-menu li {
  display: block;
  float: none !important; 
  height: inherit; 
  line-height:34px; 
  background-color: var(--secondary-bg-color);
  /* overflow: hidden; */
  transition: height 1s ease;
}

#services-nav-menu li:first-child {
  border-top: 1px solid var(--main-brand-color);
}

#services-nav-menu li:last-child {
  margin-bottom: 12px;
  border-bottom: 1px solid var(--main-brand-color);
}

#services-nav-menu {
  list-style-type: none;
  position: relative;
  text-align: center;
  background-color: var(--secondary-bg-color);
}

.main-nav li #services-nav-menu li {
  width:inherit;
  text-align:center;
  text-decoration: none;
}

.main-nav li #services-nav-menu li a {
  text-decoration: none;
  color: var(--main-bg-color);
  padding: 12px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: var(--main-brand-color);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 769px) {
  nav {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      align-items: center;
  }

  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
  }

  .nav-links {
      margin-left: 40px;
  }

  .navbar-toggle {
      display: none;
  }

  .nav-links:hover {
    color: var(--light-accent-color);
  }

  #navbar li:hover ul {
    display: block;
    height:  100px;
  }

  #navbar li ul {
    display: block;
    width: 0;
    height: 0;
  }

  #services-nav-menu {
    height: 0;
  }

  #services-nav-menu li {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  #services-nav-menu li:first-child {
    border-top: none;
  }
  
  #services-nav-menu li:last-child {
    border-bottom: none;
  }

}

/* General Section */

.section {
  width: 100%;
  background-color: var(--main-bg-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.h2-container {
  margin: 1.5em 0px 50px 0px;
}

.h2-container  h2 {
  margin-top: 42px;
  font-size: 4em;
  color: var(--secondary-bg-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.h2-underline {
  height: 8px;
  width: 160px;
  background-color: var(--main-brand-color);
  display: inline-block;
}

/* Hero */

#hero {
  height: 100vh;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
  color: white;
}

#hero-logo {
  width: 80%;
  margin: 0px auto;
}

#hero-scroll-container {
  margin-top: 72px;
}

#heroScroll  {
  color: inherit;
  font-size: 5em;
  margin-bottom: 0.5em;
  text-decoration: none;
}

#heroScroll:hover {
  color: var(--main-brand-color);
  text-decoration:none; 
  cursor:pointer; 
}

@media screen and (min-width: 759px) {
  #hero-logo {
    width: 40em;
  }
}

@media screen and (min-width: 1000px) {
  #hero {
    background-image: url("../assets/patterns.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc; 
    height: 100vh;
  }
  #hero-logo {
    width: 60em;
  }
}

/* Services */

#services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  background-color: #f2f2f2;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 15%,#f2f2f2 75%),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%234c6ca8' fill-opacity='0.04' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#services-scroll-target {
  margin-top: 2px;
}

#services-card-container {
  display: block;
  margin: 0px 8px;
}

.services-card {
  background-color: #f5f5f5;
  width: auto;
  height: auto;
  margin: 0 auto 64px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 3px rgba(0,0,0,0.15);
}

.services-card {
    box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
    -webkit-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
}

.services-card:hover {
  cursor: pointer;
  box-shadow: -2px -2px 5px white, 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.services-card-img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
  display: inline-block;
}

.services-card-title {
  height: 60px;
  color: var(--secondary-bg-color);
  margin: 5px 10px 0px;

  display: block;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
}

.services-card-title {
  height: auto;
  margin: 20px 10px 14px;
  font-size: 0.7rem;
  padding: 0px;
  font-weight: bold;
  color: #b27ac7;
  color: var(--main-brand-color);
  text-transform: uppercase;
  text-align: left;
}

.services-card-text {
  flex-grow: 1;
  font-size: 1em;
  text-align: left;
  padding: 0 10px;
  color: #6e6e6e;
}

.services-card-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;

  font-size: 1.4em;
  text-align: right;
  width: 100%;
  padding: 8px 25px 12px 0px;
  transition: 0.2s;
}

.services-card-link {
  border-radius: .5rem;
  text-decoration: none;
  display: inline-block;
  font-style: italic;
  text-align: left;
  margin-left: 10px;
  font-weight: 500;
  font-size: 1rem;
  color: #b27ac7;
  color: var(--main-brand-color);
  margin-bottom: 8px;
}

.services-card-link:hover {
  color: var(--secondary-bg-color);
}

@media screen and (min-width: 40em) {
  #services {
    min-height: 100vh;
  }

  #services-card-container {
    margin-top: 7em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
  }

  .services-card  {
      flex: 0 1.5 calc(50% - 1em);
      min-width: 450px;
  }
}

@media screen and (min-width: 769px) {
  #services {
    min-height: calc(100vh + 4px);
  }

  #services .h2-container h2 {
    margin-top: 48px;
  }

  #services-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .services-card {
    flex: 0 1 20%;
    margin: 0px 48px;
  }
}

/* 
    About Section 
*/

#about {
  background-color: var(--main-bg-color);
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  width: 100%;
}

#about-title {
  font-size: 3em;
}

.about-text {
  padding: 1em;
  text-align: left;
  font-size: 1.2em;
}

#about-image {
  display: inline-block;
  width: inherit;
  height: inherit;
}

@media screen and (min-width: 900px) {
  #about {
    min-height: 60vh;
    max-height: 100vh;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
  }

  #about-text-container .h2-container {
    margin: 0;
    text-align: left;
    padding-left: 2em;
  }

  #about-text-container .h2-container .h2-underline {
    width: 124px;
  }

  #about-text-container {
    flex: 0 1 auto;
    width: 40%;
  }

  .about-text {
    padding-left: 2em;
    text-align: left;
    font-size: 1.2em;
  }

  #about-image {
    flex: 1 0 auto;
    width: 60%; 
    height: 100%;
  }

  #about-paragraphs {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1441px) {
  #about {
    min-height: 50vh;
  }

  #about-text-container {
    width: 35%;
  }

  #about-image {
    width: 50%;
  }

  #about-text-container {
    margin-left: 42px;

  }
  #about-paragraphs {
    width: 70%;
  }
}

/* Contact */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  background-color: var(--main-bg-color);
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0% ,var(--main-bg-color) 100%),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%234c6ca8' fill-opacity='0.04' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#contact-title {
  text-shadow: 1px 1px rgba(0,0,0,0.10);
}

#contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--main-brand-color);
  border-radius: 8px;
}

#contact-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#contact-image-overlay {
  position: absolute;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#contact-image {
  padding: 0px;
  width: 100%;
  height: 100%;
}

#contact-form-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.contact-form-headers {
  text-align: center;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  font-size: 2em;
  color: var(--secondary-bg-color);
}


#contact-form-container .h2-underline {
  background-color: var(--main-brand-color);
  width: 140px;
  height: 6px;
}

#form {
  margin-top: 16px;
}

input, textarea {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  margin: 0;
  margin-bottom: 12px;
  margin-top: 8px;
  padding: 0px;
  padding-left: 6px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background : none;
  outline: none;
}

#contact-form-container input[type="text"]:focus,
#contact-form-container input[type="text"]:hover,
#contact-form-container input[type="email"]:focus,
#contact-form-container input[type="email"]:hover,
#contact-form-container textarea:focus,
#contact-form-container textarea:hover {
  border: 1px solid var(--main-brand-color);
}

#contact-form-container label {
  float: left;
}

#form-text {
  height: 150px;
  border-right: 1px solid #e7e7e7;
  overflow: auto;
  resize: none;
}

#submit-container {
  width: 100%;
}

#form-submit {
  background-color: var(--main-brand-color);
  color: white;
  float: right;
  width: 100px;
  padding      : 5px;
  font         : bold 1em sans-serif;
  border-radius: 5px;
  cursor       : pointer;
}

#form-submit:hover,
#form-submit:focus {
  outline     : none;
  background  : #000;
  color       : var(--main-bg-color);
}

@media screen and (min-width: 769px) {
  #contact {
    height: calc(100vh - 50px);
  }

  #contact-container {
    margin-top: 40px;
    width: 75%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 6px 6px 5px 1px rgba(0,0,0,0.10);
  }

  #contact-image {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  #contact-image-wrapper {
    width: 50%;
  }

  #contact-form-container {
    text-align: left;
    width: 50%;
    height: 100%
  }

  .contact-form-headers {
    text-align: left;
  }

  #submit-container {
    width: 100%;
  }

  #form-submit {
    float: right;
  }

}

@media screen and (min-width: 1441px) {
  #contact-container {
    width: 50%;
  }
}

/* 
  Footer
*/

#footer {
  height: 50px;
  display: block;
  line-height: 50px;
  width: 100%;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
}

#footer-left-container {
  height: inherit;
  display: block;
  width: 200px;
  margin-left: 12px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  text-align: center;
}

#footer .logo {
  float: left;
  height: inherit;
  width: 50px;
}